<!DOCTYPE html>
<html>

<%- include('../partials/head') %>

<body>
  <section>
    <h1>Book Details</h1>
    <a href="/">Return to Home Page</a>
  </section>

  <ul>
    <img src="<%=bookDetails.image_url %>">
    <li>
      <p>Title: <%= bookDetails.title %></p>
      <p>Author: <%= bookDetails.author %></p>
      <p>Description: <%= bookDetails.description %></p>
      <p>Bookshelf: <%=bookDetails.bookshelf %></p>
      <p>ISBN: <%=bookDetails.isbn %></p>
    </li>
    <form id="details-form" action="<%= '/books/updatebook?_method=PUT' %>" method='post'>
      <input type='text' name='title' value="<%= bookDetails.title %>">
      <input type='text' name='author' value="<%= bookDetails.author %>">
      <input type='hidden' name='isbn' value="<%= bookDetails.isbn %>">
      <select name='bookshelf' value="<%= bookDetails.bookshelf %>">
        <% bookshelves.forEach((bookshelf) => { %>
        <option value="<%= bookshelf %>"><%= bookshelf %></option>

        <% }) %>
      </select>
      <textarea type='textarea' name='description'
        value="<%= bookDetails.description %>"><%= bookDetails.description %></textarea>
      <input type='hidden' name='image_url' value="<%= bookDetails.image_url %>">
      <button type="submit">Update Book Information</button>
    </form>
    <form action="<%= '/books/deleteBook?_method=DELETE' %>" method='post'>
      <input type='hidden' name='isbn' value="<%= bookDetails.isbn %>">
      <button type="submit">Delete Book</button>
    </form>
  </ul>

</body>

</html>