<!DOCTYPE html>
<html>

<%- include('../partials/head') %>

<body>
  <h1>YOUR BOOKS!</h1>
  <h2>YOU HAVE <%= numBooks %> BOOKS!</h2>
  <form action='/searchPage' method='get'>
    <button type="submit">Search the Google Books API</button>
  </form>
  <ul>
    <% books.forEach(book => { %>
    <img src=<%= book.image_url %>>
    <li><%= book.title %><br><%=book.author%><br><%= book.description %></li>
    <form action="/books/<%= book.isbn %>" method='get'>
      <button type="submit">Get Details</button>
    </form>
    <% }) %>
  </ul>
</body>

</html>